---
/**
 * Intrinsic size comes from width/height attributes (viewBox ratio). CSS-only sizing
 * (e.g. h-9 w-auto) can resolve to 0×0 in some flex/grid + Tailwind setups.
 */
interface Props {
	class?: string;
	/** Display width in CSS pixels; height follows 1705:859 viewBox. */
	widthPx?: number;
}

const VB_W = 1705;
const VB_H = 859;

const { class: userClass, widthPx = 240 } = Astro.props;
const heightPx = Math.max(1, Math.round((widthPx * VB_H) / VB_W));
---

<svg
	xmlns="http://www.w3.org/2000/svg"
	width={widthPx}
	height={heightPx}
	viewBox={`0 0 ${VB_W} ${VB_H}`}
	preserveAspectRatio="xMidYMid meet"
	focusable="false"
	class:list={['block shrink-0', userClass]}
	style={`width: ${widthPx}px; height: ${heightPx}px; flex-shrink: 0;`}
	aria-hidden="true"
>
	<title>Sage Home Improvements</title>
	<desc>Baltimore window and door company logo with owl mark and wordmark.</desc>
	<path
		d="M182 808h-40q-16 1-34-1l57-72 23-30-63-85-34-46q-26-37-29-82l-4-53-1-26v-14q-1-40 8-80l11-49q6-21 16-40-13-24-9-51 2-22 17-40 8-7 10-17 2-18-1-37c-4-23-29-28-32-39q-2-7 3-13 7-1 13 2a279 279 0 0 0 107 24h49l16-1q63-5 122-26c11-4 28-13 33-4q3 10-9 19c-17 16-17 29-18 52q-2 17 0 34c1 6 7 11 10 17 11 18 13 50 5 70q-3 5 2 9 14 20 20 47l11 45q10 39 10 79v61l-1 23q-1 31-14 61-11 23-25 44l-28 45-44 67q-2 3-2 7l46 62 27 37q-11 2-21 1zm154-694q12-2 23 1l14 3 2-29 1-24a429 429 0 0 1-87 16l2 2q17 9 30 20zM212 84l-15-1-17-2q-27-2-56-11l1 22 1 12 1 13q13-4 25-4 9 3 19 2c12-14 28-19 41-31m63 98 3 1 2-3q2-24 18-42l13-13-15-13a93 93 0 0 0-80-4q-15 9-27 22l13 13q12 17 14 40 30-8 59-1m-92 55c20-19 26-50 14-75q-13-29-45-32-21-1-35 12c-24 20-26 55-12 82a49 49 0 0 0 78 13m200-3c21-22 21-60 4-84a47 47 0 0 0-44-20q-19 1-32 13c-23 24-24 68-2 91 18 19 55 21 74 0m-133 25q23-23 33-53a74 74 0 0 0-62-4l-7 6c9 17 20 39 36 51m41 123-1-21q-2-22 0-45l3-26q4-19 15-37l-19-21q-15 29-40 50-24-24-42-53l-8 11-7 8c23 23 24 62 25 93v48h73zm112 129v12l-1 22q0 8 5 15l4-5q12-21 16-45a536 536 0 0 0-4-185l-12-51q-4-17-15-32a68 68 0 0 1-70 20l-7 12q-10 16-12 33v35l1 15 1 32 32 33 43 42c17 17 22 15 19 47m-285-37 17-18 33-38 10-12 20-21 1-60-1-20q-5-23-18-42-3-5-9-2-24 8-48-2l-19-11q-11 25-16 52-10 39-12 77l-1 31 1 32 2 32c2 28 9 69 29 90q4-16 3-33l-1-20q-2-12 1-26zm221-28-15-17-12-13q-5-7-12-12H199l-60 77h231zm50 53H252l-129-1v97h266zm-70 185 16-21 36-52H174l-27 1 47 57q5 9 12 14c6 4 13 1 19 1zm51 101-23-33-22-32-8-8-31 1h-80l-48 60-9 12z"
		style="fill:#803b1f"></path>
	<path
		d="m290 558 1-14h27v47l-10-1-2-5-8 6q-11 4-23 0c-13-5-16-36-14-51l3-19q3-12 14-16c11-4 25-1 34 6q10 9 7 21l-16 1q1-15-14-17c-12 0-12 24-11 38 1 10 1 23 9 26q7 1 11-4 6-7 4-18zm-154 24q-6-10-3-21h16l1 11q1 6 6 8 6 0 11-3 6-11-3-18l-12-7q-9-5-16-14-6-14 2-26 12-12 29-7 21 6 17 27h-15l-2-10c-1-5-8-6-12-4q-7 3-4 11c5 9 24 14 32 27 6 9 4 25-5 32-13 11-33 7-42-6m96-13-18 1-4 21h-16l2-14 17-71 22-1 19 86h-17zm-2-13-6-33-6 33zm146-3h-27v22l29 1v15h-46v-86h45v15h-19l-9 1v18h26z"
		style="fill:#369368"></path>
	<path
		d="M373 222c-14 16-43 15-55-3-14-20-13-51 5-63q21-14 44-3c20 13 23 49 6 69m-21-22q7-9 2-18-6-6-13-2-5 3-5 12l5 8q6 3 11 0m-175 20c-14 18-42 15-53 4-19-22-16-64 9-73 21-7 42-1 50 19 8 16 5 36-6 50m-18-34q-3-9-12-7c-8 2-11 14-5 20 3 4 10 3 13 0q6-4 4-13"></path>
	<path
		d="M559 350v-10h32v11q0 15 4 21t13 6q21 0 21-20 0-8-4-13-3-6-16-14l-16-12a96 96 0 0 1-26-24q-6-9-6-24 0-21 13-33 12-12 35-12 47 0 48 50v6h-30v-5q1-25-19-25-16 1-17 16 0 12 20 24l18 12q19 12 25 23 6 12 6 28 0 24-13 36-12 12-38 12-50 1-50-53m153-120h42l39 169h-34l-9-42h-36l-8 42h-32zm34 101-14-71-13 71zm71 52q-12-20-11-74l2-40q3-14 8-23 13-21 45-20 54 0 53 53v4h-29v-1q0-31-23-31-13 0-19 10-5 11-5 56 0 36 5 48t18 12c13 0 14-2 17-8q6-8 6-29v-6h-22v-27h52v92h-21l-3-18q-4 12-13 17-8 6-23 5-27 1-37-20m125-153h87v28h-56v39h52v27h-52v47h57v28h-88zm168 0h31v66h43v-66h31v169h-31v-76h-43v76h-31zm159 168q-11-4-18-16-5-8-8-24t-2-43c1-27 0-33 2-43q3-16 8-25 7-11 18-16c11-5 16-5 27-5s20 2 27 5q9 5 17 16 6 9 8 25a306 306 0 0 1 0 85q-2 16-8 25-8 12-17 16-10 6-27 5c-17-1-20-1-27-5m45-30q4-11 4-53c0-42-1-46-4-53q-5-11-18-11c-13 0-15 4-18 11q-5 10-5 53c0 43 2 45 5 52q4 12 18 11c14-1 14-3 18-10m62-138h48l23 110 23-110h48v169h-30V249l-31 150h-20l-31-150v150h-30zm171 0h86v28h-55v39h52v27h-52v47h57v28h-88z"
		style="fill:#369368"></path>
	<path
		d="M578 484v122h-19V484zm70 77 27-77h20v122h-18v-91l1 5-23 68h-13l-23-66 1-7v91h-18V484h20zm72 45V484h19v122zm9-47v-19h31q6 0 9-4 4-3 4-10v-9q0-6-4-11-3-3-9-4h-31v-18h31q10 0 17 4 8 3 12 11 3 8 4 18v10q-1 9-4 17-5 7-12 11t-17 4zm83 47V484h19v122zm8-51v-18h33q6 0 9-4 4-5 3-10v-7q0-6-3-10t-9-4h-33v-18h32q11 0 18 4 8 3 11 11 4 6 4 17v7q0 10-4 17-3 8-11 11-7 4-18 4zm48 51-23-55 19-3 26 58zm75 2q-12 0-20-5-9-4-13-13-5-8-5-20v-50q0-11 5-20 4-8 13-13 8-4 20-4c12 0 14 1 20 4q8 5 13 13 4 9 4 20v50q0 12-4 20-5 9-13 13-9 5-20 5m0-19q7 0 13-5 4-5 4-14v-50q0-8-4-13-6-5-13-5-9 0-13 5-5 5-5 13v50q0 8 5 14 4 5 13 5m83 17-32-122h20l21 89 21-89h20l-32 122zm66 0V484h19v122zm8-104v-18h59v18zm0 53v-19h52v19zm0 51v-18h59v18zm125-45 26-77h20v122h-18v-91l2 5-24 68h-13l-23-66 1-7v91h-18V484h21zm71 45V484h19v122zm9-104v-18h58v18zm0 53v-19h51v19zm0 51v-18h58v18zm78 0V484h18l42 91-2 2v-93h19v122h-19l-42-88 2-3v91zm95-104v-18h75v18zm28 104V494h19v112zm92 2q-9 0-17-3-9-3-13-9-5-6-7-15l18-8q2 7 7 12 6 4 13 4 9 0 13-4 5-4 5-10v-6q0-5-3-8l-7-5-11-3-11-4q-6-1-11-6-4-3-7-9t-3-15v-4q0-15 9-24 10-8 28-8 13 0 22 6 9 7 12 19l-18 8q-2-7-6-11-5-4-11-4-8 0-13 4-4 3-4 10v4q0 5 3 9l8 5 22 7q6 2 10 6 5 3 8 9l2 14v6q0 15-10 24-9 9-28 9"></path>
</svg>
